@use 'variables';

/* ARMÁ TU PC */
.arma-tu-pc {

  /* ICONOS SUPERIORES */
  .iconos-armado {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
    margin-top: 2rem;

    img {
      max-width: 150px;
      height: auto;
      object-fit: contain;
      transition: transform 0.2s ease;

      &:hover {
        transform: scale(1.05);
      }
    }
  }

  /* BUSCADOR CENTRADO CON LOGOS */
  .buscador-armado {
    margin-top: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;

    input {
      width: 80%;
      max-width: 500px;
      padding: 0.8rem;
      border: 2px solid black;
      border-radius: 10px;
    }

    /* FILA DE LOGOS */
    .logos-procesadores {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 2rem;

      img {
        width: 55px;
        height: auto;
        object-fit: contain;
        transition: transform 0.2s ease;

        &:hover {
          transform: scale(1.07);
        }
      }
    }
  }

/* CUADRÍCULA DE COMPONENTES */
.productos-pc {
  margin-top: 4rem;
  margin-bottom: 4rem;
  text-align: center;

  .grid-componentes {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(380px, 1fr)); 
    column-gap: 0.5rem;     
    row-gap: 2rem;         
    justify-items: center;
    padding: 0 0.5rem;

    .product {
      background-color: variables.$color-blanco;
      padding: 1rem;                    
      border-radius: 1rem;
      box-shadow: 0 3px 12px rgba(0, 0, 0, 0.15);
      transition: transform 0.3s ease, box-shadow 0.3s ease;
      width: 100%;
      max-width: 350px;                      

      &:hover {
        transform: translateY(-20px);
        box-shadow: 0 6px 18px rgba(0, 0, 0, 0.20);
      }

      img {
        width: 300px;
        height: 300px;                     
        object-fit: contain;
        border-radius: 8px;
        margin: 0;                          
        }
      }
    }
  }
}