@use 'variables' as v;

.frases {
  max-width: 900px; 
  margin: 3rem auto; 
  text-align: center;
  font-family: v.$fuente-principal;

  h2 {
    margin-bottom: 1.5rem;
    font-size: 2rem;
  }

  p {
    margin-bottom: 2rem;
    font-size: 1.1rem;
    line-height: 1.6;
  }
 form {
    max-width: 1000px; 
    margin: 2rem auto; 
    text-align: left;
    padding: 1.5rem;
    background-color: v.$color-blanco;
    border: 2px solid v.$color-negro;
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.2);
    font-family: v.$fuente-principal;

    h3 {
      text-align: center;
      margin-bottom: 1rem;
    }

    details {
      margin-bottom: 1rem;

      summary {
        cursor: pointer;
        font-weight: bold;
      }

      p {
        margin-top: 0.5rem;
      }
    }

    input, textarea {
      width: 100%;
      padding: 0.8rem;
      margin-bottom: 1rem;
      border: 1px solid v.$color-negro;
      border-radius: 8px;
      font-size: 1rem;
    }

    input[type="submit"], button {
      display: block;
      width: 100%;
      background-color: v.$color-rojo;
      color: v.$color-blanco;
      border: none;
      padding: 0.8rem;
      border-radius: 25px;
      cursor: pointer;
      font-size: 1rem;
      transition: background 0.3s ease;

      &:hover {
        background-color: darken(v.$color-rojo, 10%);
      }
    }
  }
}