@use 'variables';

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh; 
}

.main {
  flex: 1; 
}

/* Sección de jugadas */
.jugadas {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem 2rem;
  background-color: variables.$color-blanco;
  text-align: center;
  width: 100%; 

  background-image: url("../fondos/1701286106510.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  .titulo-video {
    font-size: 3rem;
    color: variables.$color-blanco;
    font-family: variables.$fuente-principal;
    margin-bottom: 1rem;
  }

  .jugadas-contenido {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
    width: 100%; 
  }

    .video-container {
      flex: 1 1 650px;
      display: flex;
      justify-content: center;
      margin-top: 2rem;

      iframe {
        width: 100%;
        max-width: 1200px;
        height: 600px;
        border-radius: 20px;
        box-shadow: 0 12px 25px rgba(0,0,0,0.3);
        border: none;
        transition: transform 0.3s ease, box-shadow 0.3s ease;

        &:hover {
          transform: scale(1.02);
          box-shadow: 0 15px 30px rgba(0,0,0,0.4);
        }
      }
    }
    .texto-abajo {
      justify-content: center;
      flex-basis: 100%;
      margin-top: 2rem;
      font-size: 1.5rem;
      font-family: variables.$fuente-principal;
      color: variables.$color-blanco;
    }
  }

.ultimo {
  color: variables.$color-negro;
  font-family: variables.$fuente-principal;
  flex: 0 0 25%;
  text-align: center;
  font-size: 1.2rem;
  font-weight: bold;
  margin-top: 2rem;
}

.marcas {
  color: variables.$color-negro;
  font-family: variables.$fuente-principal;
  flex: 0 0 25%;
  text-align: right;
  font-size: 1.2rem;
  font-weight: bold;
  margin-top: 2rem;
  margin-bottom: 4rem; 

 
  .logos {
    display: flex;
    flex-wrap: wrap; 
    justify-content: flex-end; 
    gap: 1rem; 
  }

  img {
    width: 100px;
    height: 100px; 
    border-radius: 14px;
    box-shadow: 0 5px 25px rgba(0,0,0,0.18);
    transition: transform 0.3s ease, box-shadow 0.3s ease;

    &:hover {
      transform: scale(1.03);
      box-shadow: 0 8px 30px rgba(0,0,0,0.25);
    }
  }
}