@use 'variables';

/* Sección de jugadas */
.jugadas {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 4rem 2rem;
  background-color: variables.$color-blanco;
  text-align: center;
  margin-top: 100px;

  .titulo-video {
    font-size: 2.5rem;
    color: variables.$color-negro;
    font-family: variables.$fuente-principal;
    margin-bottom: 3rem;
  }

  .jugadas-contenido {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
    width: 100%;
    max-width: 1300px;

    .video-container {
      flex: 1 1 650px;
      display: flex;
      justify-content: center;

      iframe {
        width: 100%;
        max-width: 850px;
        height: 480px;
        border-radius: 20px;
        box-shadow: 0 12px 25px rgba(0,0,0,0.3);
        border: none;
        transition: transform 0.3s ease, box-shadow 0.3s ease;

        &:hover {
          transform: scale(1.02);
          box-shadow: 0 15px 30px rgba(0,0,0,0.4);
        }
      }
    }

    .texto-derecha {
      flex: 1 1 350px;
      display: flex;
      align-items: center; // Centra verticalmente con el video
      font-size: 1.2rem;
      font-family: variables.$fuente-principal;
      color: variables.$color-negro;
    }

    .texto-abajo {
      flex-basis: 100%;
      margin-top: 2rem;
      font-size: 1.1rem;
      font-family: variables.$fuente-principal;
      color: variables.$color-negro;
    }
  }
}
  .productos {
    text-align: center;
    margin: 3rem 0 2rem 0;
    font-size: 1.2rem;
    font-weight: bold;
  }

    .marcas {
    text-align: center;
    margin: 3rem 0 2rem 0;
    font-size: 1.2rem;
    font-weight: bold;
  }