@use 'variables' as v;
@use "sass:map";

/* Centrado flexible */
@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Mediaqueries reutilizables */
@mixin respond-to($device) {
  @media (max-width: map.get(v.$breakpoints, $device)) {
    @content;
  }
}