@use 'variables';

/* Productos en index.html */
.productos {
  text-align: center;
  padding: 2rem 1rem;
}

.busqueda {
    margin-top: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;

    input {
      width: 80%;
      max-width: 500px;
      padding: 0.8rem;
      border: 2px solid black;
      border-radius: 10px;
    }
}

.galeria {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 2rem;
  justify-items: center;
  margin-top: 1.5rem;
  padding: 1rem;
  
  img {
    width: 150px;
    height: 150px;
    border-radius: 12px;
    object-fit: contain;
    box-shadow: 0 4px 15px rgba(0,0,0,0.1);
    transition: transform 0.3s ease;

    &:hover {
      transform: scale(1.06);
    }
  }
}

/* Tarjetas de productos en productos.html */
.producto {
  background-color: variables.$color-blanco;
  color: variables.$color-negro;
  border-radius: 15px;
  padding: 1rem;
  box-shadow: 0 3px 10px rgba(0,0,0,0.25);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;

 
  width: 300px;
  max-width: 300px;   
  margin: auto;

  &:hover {
    transform: translateY(-10px);
    box-shadow: 0 5px 20px rgba(0,0,0,0.35);
  }

  img {
    width: 100%;      
    height: 260px;      
    object-fit: contain;
    border-radius: 10px;
    margin-bottom: 0.8rem;
    transition: transform 0.3s ease;

    &:hover {
      transform: scale(1.05);
    }
  }
}

/* Botones */
button {
  background-color: variables.$color-negro;
  color: variables.$color-blanco;
  border: none;
  border-radius: 25px;
  padding: 0.8rem 1.4rem;
  cursor: pointer;
  transition: background 0.3s ease, transform 0.2s ease;

  &:hover,
  &:focus-visible {
    background-color: #222;
    transform: translateY(-2px);
  }
}