/* 🎨 VARIABLES GENERALES */
$color-negro: #000;
$color-blanco: #fff;
$color-rojo: #ff4d4d;
$fondo-claro: whitesmoke;

$fuente-principal: "Poppins", sans-serif;
$fuente-titulos: "Montserrat", sans-serif;