/* VARIABLES GENERALES */
$color-negro: #000;
$color-blanco: #fff;
$color-rojo: #ff4d4d;
$fondo-claro: whitesmoke;

$fuente-principal: "Poppins", sans-serif;
$fuente-titulos: "Montserrat", sans-serif;

/* Breakpoints centralizados */
$breakpoints: (
  mobile: 480px,
  tablet: 768px,
  desktop: 1024px
);